* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #0f1424;
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  margin: auto;
}

.profile {
  margin-bottom: 90px;
  position: relative;
  height: 100px;
}
.profile .profile-info {
  background-color: #5847eb;
  color: white;
  display: flex;
  padding: 10px;
  height: 100px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 330px;
  position: absolute;
}
.profile .report-for {
  color: #bdc1ff;
  font-size: 14px;
}
.profile img {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 20px;
}
.profile #profile-name {
  font-size: 23px;
  font-weight: 300;
}
.profile .shifts {
  background-color: #1c1f4a;
  height: 70px;
  position: absolute;
  bottom: -60px;
  z-index: 0;
  padding: 20px;
  width: 330px;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: space-evenly;
}
.profile button {
  border: none;
  background-color: transparent;
  width: 100px;
  color: #6f76c8;
  font-size: 18px;
  transition: 0.3s ease;
}
.profile button:hover, .profile button:active {
  color: white;
}

.cards {
  position: relative;
  margin-bottom: 200px;
}

.work-back {
  background-color: #ff8c66;
}

.play-back {
  background-color: #56c2e6;
}

.study-back {
  background-color: #ff5c7c;
}

.exercise-back {
  background-color: #4acf81;
}

.social-back {
  background-color: #7536d3;
}

.selfcare-back {
  background-color: #f1c65b;
}

.back {
  display: flex;
  justify-content: end;
  border-radius: 15px;
  position: absolute;
  width: 330px;
  height: 90px;
}

.front {
  position: absolute;
  width: 331px;
  background-color: #1c1f4a;
  bottom: -150px;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
  transition: 0.3s ease;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  height: 25px;
}
.row p {
  color: white;
  font-weight: 500;
}

.hours-n-previous {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.hours {
  font-size: 30px;
  color: white;
  font-weight: 300;
}

.previous {
  color: #bdc1ff;
  font-size: 16px;
}

.front:hover {
  background-color: #6f76c8;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 900px) {
  .container {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 100px;
    grid-template-columns: auto auto auto auto;
  }

  .profile {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .profile .profile-info {
    width: 250px;
    height: 300px;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 20px;
  }
  .profile .shifts {
    width: 250px;
    height: 200px;
    bottom: -360px;
    flex-direction: column;
  }
  .profile .shifts button {
    margin-top: 30px;
  }
  .profile img {
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
  }
  .profile #profile-name {
    font-size: 33px;
  }

  .back {
    width: 260px;
  }

  .front {
    width: 261px;
    height: 180px;
    bottom: -220px;
  }

  .exercise, .social, .selfcare {
    margin-top: 40px;
  }

  .hours-n-previous {
    flex-direction: column;
    padding-top: 30px;
  }

  .hours {
    font-size: 42px;
  }

  .previous {
    padding-top: 20px;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */